* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f8f9fa;
}

/* Barre de navigation */
.header {
    background-color: #126b43;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.header .logo {
    font-size: 20px;
    font-weight: bold;
}

.header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

.header .don-btn {
    background: red;
    padding: 8px 15px;
    border-radius: 5px;
}
/*ajustement icon coeur*/
.coeur{  vertical-align: bottom}

/* FORMULAIRE */
.contactez-nous {
    text-align: center;
    margin: 50px auto;
}

.contactez-nous h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-card {
    background: white;
    width: 50%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

input, select, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    width: 100%;
}

textarea {
    resize: none;
}
/*Bouton envoyer*/
.btn-envoyer {
    background: #126b43;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-envoyer:hover {
    background: #0e5a36;
}

/* MESSAGE DE CONFIRMATION */
.confirm {
    display: none;
    color: green;
    font-size: 16px;
    margin-top: 10px;
}

/* FOOTER */
.footer {
    background: #1f2a38;
    color: white;
    padding: 30px;
    margin-top: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.footer {
    background: #1f2a38;
    color: white;
    padding: 30px;
    margin-top: 50px;
}

.footer-contenu {
    display: flex;
    justify-content: space-around;
    text-align: left;
}